#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  /* text-align: center; */
}


/* Donnees.jsx----------------------------------------------------------------- */

.importDonnees{
  /* display: flex;
  flex-direction: column; */
  background-color: #E3E3E3;
  padding: 15px;
  border-radius: 10px;
  color: #000D36;
  margin-bottom: 25px;

}

.importDonnees label{
  font-weight: bold;
  font-size: 1.5em;
}

.importDonnees input{
  cursor: pointer;
  border-radius: 10px;
}


.variables{
  background-color: #E3E3E3;
  padding: 15px;
  border-radius: 10px;
  color: #000D36;
  margin-top: 25px;
  width: 70%;
}

.variables h2{
  margin-top: 0;
}

.typeVar{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 5vw;
}

.typeVar select{
  width: 50%;
}

.publierButton{
  background-color: #7AC74F;
  color: #000D36;
  width: 50%;
  margin: 35px 25% 15px 25%;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Articles.js ------------------------------------------------------------------------------- */

main{
  /* à voir -> bootstrap ? */
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: 10px;
  row-gap: 15px;
}

main > :first-child{
  grid-column-start: 1;
  grid-column-end: 4;
}

.article{
  background-color: #E3E3E3;
  padding: 15px;
  border-radius: 10px;
  color: #000D36;
  margin-top: 25px;
}

