#root {
  margin: 0;
  /* padding: 2rem; */
  /* text-align: center; */
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}


main{
  margin: 0 5%;
}

/* Header.jsx----------------------------------------------------------------- */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
}

header .header-left{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: max-content;
}

header .header-left a{
  margin-right: 5vw;
} 

.hideMobile{
      display: none;  
  }

.hideOrdi{
  display: block;
}

header a {
  color: var(--deepBlue);
  cursor: pointer;
  display: block;
}

header a:hover{
  color: var(--greenLight);
}

header .header-logo{
  width: 80px;
}

.menuBurger{
  position:fixed;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 7vw;
}

.menuBurger img{
  height: 40px;
  padding-left: 90%;
  margin-bottom: 15px;
}

.menuBurger a{
  padding: 1vw 0;
  font-size: 1.2em;
}

.menuBurger.hide{
  display: none;
}

@media (min-width: 600px) {
  .hideMobile{
      display: inline;  
  }

  .hideOrdi{
    display: none;
  }

  header{
    padding: 2vw 5vw;
  }
}


@media (min-width: 1024px) {
  

header .header-left{
  width: 40vw;
}

}

/* Footer.jsx----------------------------------------------------------------- */

footer{
  background-color: var(--grey);
  text-align: center;
  font-size: 0.8em;
  bottom: 0;
  margin-top:auto ;
}

footer p{
  margin: 0;
}


.footerFlex{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footerFlex div{
  width: 30%;
  font-weight: 600;
  margin-top: 2vw ;
}

.footerFlex div p, .footerFlex div a{
  padding-top: 5px;
}

.footerFlex .footerLinks{
  display: flex;
  flex-direction: column;
}

.footerFlex img{
  width: 100px;
}

footer .copyright{
  padding-bottom: 0.5vw;
}

@media (min-width: 600px) {
  .footerFlex img{
    width: 15%;
  }

  footer{
    font-size: 0.9em;
  }
}

@media (min-width: 1024px) {
  .footerFlex img{
    width: 10%;
  }

  .footerFlex div p, .footerFlex div a{
  padding-top: 0.3vw;
}
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Donnees.jsx----------------------------------------------------------------- */

.importDonnees{
  /* display: flex;
  flex-direction: column; */
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
  color: var(--deepBlue);
  margin-bottom: 25px;
}

.importDonnees label{
  font-weight: bold;
  font-size: 1.3em;
}

.importDonnees input{
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
}

.variables{
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
  color: var(--deepBlue);
  width: 100%;
  margin: 25px auto 25px auto;
}

.variables h2{
  margin-top: 0;
  margin-bottom: 20px;
}

.typeVar{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.typeVar label{
  font-weight: bold;
}

.typeVar select{
  width: 100%;
  padding: 6px;
}

.publierButton{
  width: 80%; 
  padding: 10px;
  margin: 20px 10% 0 10%;
  border-radius: 8px;
  font-size: 15pt;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 500px;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border: 1px solid var(--deepBlue);
  background-color: var(--white);
}



@media (min-width: 768px) {
  /* .variables{
     margin-top: 25px auto; 
     width: 80%; 
  } */

  .typeVar{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
  }

  .typeVar select{
    width: 50%;
  }

  .publierButton{
    width: 50%;
    margin: 35px 25% 15px 25%;
  }
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Articles.jsx ------------------------------------------------------------------------------- */

.allArticles {
  /* à voir -> bootstrap ? */
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  row-gap: 15px;
  column-gap: 10px;
  padding-bottom: 2vw;
}

.allArticles > :first-child {
  grid-column: 1;
}

.article {
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
  color: var(--deepBlue);
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.article p {
  flex-grow: 1;
}

.buttonArticle {
  /* background-color: (var(--greenLight)); */
  color: var(--deepBlue);
  width: 50%;
  margin: 0 25%;
}


@media (min-width: 600px) {
  .allArticles {
    grid-template-columns: 1fr 1fr; 
  }

  .allArticles > :first-child {
    grid-column: 1 / 3;
  }
}


@media (min-width: 1024px) {

  .allArticles{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .allArticles > :first-child{
    grid-column-start: 1;
    grid-column-end: 4;
  }

}

/* /////////////////////////////////////////////////////////////////////////////////////// */

/* AffichageArticle.jsx et SectionArticle.jsx ------------------------------------------------------------------------------- */

.notationArticle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notationArticle button{
  padding: 3px 13px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

@media (min-width: 600px) {
  .titreArticle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notationArticle button{
    padding: 5px 15px;
    margin: 0 0 0 20px;
  }
}

.PopupNote, .PopupNoteTitre{
  text-align: center;
}

.PopupNote{
  min-width: 20vw;
}


.sectionTitre, .sectionTexte{
  margin-bottom: 1vw;
}

.sectionImage{
  margin-bottom: 1vw;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media (min-width: 600px) {
  .sectionImage{
  max-width: 80%;
  }
}

@media (min-width: 1024px) {

  .sectionImage{
  max-width: 60%;
}

}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* TitreResume.jsx ------------------------------------------------------------------------------- */

.titreResume{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
}

.zoneChoixTitre{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.zoneChoixResume{
  display: flex;
  flex-direction: column;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Texte.jsx ------------------------------------------------------------------------------- */

.zoneChoixTexte{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
}

.zoneChoixTexte label{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.zoneChoixTexte label img{
  width: 25px;
  height: auto;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* SousTitre.jsx ------------------------------------------------------------------------------- */

.zoneChoixSousTitre{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
}

.zoneChoixSousTitre select{
  margin-bottom: 10px;
}

.zoneChoixSousTitre label{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.zoneChoixSousTitre label img{
  width: 25px;
  height: auto;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Image.jsx ------------------------------------------------------------------------------- */

.zoneChoixImage{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
}

.zoneChoixImage label{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.zoneChoixImage label img{
  width: 25px;
  height: auto;
}

input[type=file]::file-selector-button {
  background-color: var(--greenLight);
  color: var(--deepBlue);
  width: 50%;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0em;
  font-family: inherit;
  background-color: var(--greenLight);
  color: var(--deepBlue);
  font-weight: bold;
  cursor: pointer;
  transition: border-color 0.25s;
}

.selectionImage{
  display: flex;
  flex-direction: column;
}

#choixImage{
  width: 100%;
}

.ajoutImage{
  width: 50%;
}

.choixAlt{
  margin-top: 10px;
  margin-bottom: 5px;
}

.choixAlt input{
  width: 100%;
}


@media (min-width: 600px) {
  .selectionImage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  input[type=file]{
    width: 50%;
  }

  input[type=file]::file-selector-button {
    margin-top: 0px;
  }

  #choixImage{
    width: 45%;
  }
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* SourceDonnees.jsx ------------------------------------------------------------------------------- */

.zoneSourceDonnees{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: var(--grey);
  padding: 15px;
  border-radius: 10px;
}


.zoneSourceDonnees label{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.zoneSourceDonnees label img{
  width: 25px;
  height: auto;
}

.zoneCheck{
  padding-top: 10px;
  padding-bottom: 10px;
}

.rectColor{
  width: 20%;
  height: 20px;
  border: solid;
  background-color: var(--greenLight);
}

.form-check-label{
  display: flex;
  justify-content: space-between;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* PageCreationArticle.jsx ------------------------------------------------------------------------------- */

.pageCreationArticle h1{
  text-align: center;
  margin-bottom: 40px;
}

.cross:hover{
  cursor: pointer;
}

.blocs{
  width: 100%;
  margin: 0 auto;
}

.buttonAjout{
  width: 100%;
  border: var(--greenLight) solid 3px;
  background-color: var(--white);
  margin-bottom: 15px;
  font-size: 15pt;
}

.buttonPublier{
  width: 100%;
  margin-bottom: 15px;
  font-size: 15pt;
  background-color: var(--greenLight);
}

@media (min-width: 600px) {
  .buttonsCreation{
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  .blocs{
    width: 60%;
  }
}


/* /////////////////////////////////////////////////////////////////////////////////////// */

/* AjoutBloc.jsx ------------------------------------------------------------------------------- */

.zoneAjoutBloc{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: var(--white);
  border: solid #7AC74F;
  padding: 15px;
  border-radius: 10px;
}

.zoneTitreAjoutBloc{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.zoneTitreAjoutBloc img{
  width: 25px;
  height: auto;
}

.zoneAjoutBloc select{
  margin-bottom: 10px;
}

/* /////////////////////////////////////////////////////////////////////////////////////// */

/* Pages Connexion------------------------------------------------------------------------------- */



.pageConnexion h1{
  text-align: center;
  margin-bottom: 40px;
}

.formConnexion{
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  padding: 3vw;
  /* width: 90%;
  margin: 0 5%; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3vw;
}

.formConnexion input{
  margin-bottom: 1vw;
  height: 2vw;
}

.formConnexion .changeForm{
  text-decoration: underline;
  text-align: center;
  margin-top: 1vw;
  cursor: pointer;
}

.formConnexion .changeForm:hover{
  color: var(--greenLight);
}

.formConnexion label{
  margin-bottom: 1vw;
}

.formConnexion button{
  width: 80%;
  align-self: center;
  margin: 10px 0;
}

@media (min-width: 600px) {
  .formConnexion{
    width: 80%;
  }
  
  .formConnexion button{
    width: 50%;
  }
}

@media (min-width: 1024px) {

  .formConnexion{
    padding: 2vw;
    width: 60%;
  }

}